<div class="container">
    <h1>Team Name : RIT_TECHNOVATION_07</h1>
    <p >Problem Statement: <br>
For healthcare companies like Apollo Hospitals Enterprise Limited to plan
effectively and operate efficiently, they must understand their patients' disease
conditions and see how those conditions progress over time. To segment
patients by their disease conditions and severity of illnesses, the healthcare
company's management team approached their AI team for machine learning
applications (MLOps).
    </p>
    <div class="horizontal-bar"></div>    
</div>
<div class="upload">
<h4>Please choose the dataset</h4>
    <app-upload></app-upload>
</div>
<div class="model">
    <h4>Please choose the model to train</h4>
    <app-model-selection></app-model-selection>
</div>